force-app/main/default/flows/LOVING_PI_NFI_Loop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>
        Sub-flow: Need Further Info Loop.
        Fires when WO status moves to Need Further Info.
        Actions:
          1. Create FM task with specific NFI reason
          2. If NFI_Count > 2 → escalate to COO with separate task
          3. Reset WO status to Pending Closeout Approval after FM resolves
        The return path (FM re-submits → Pending Closeout Approval) is handled
        by the Orchestrator when status changes back.
    </description>
    <environments>Default</environments>
    <interviewLabel>LOVING PI NFI Loop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOVING PI NFI Loop</label>
    <processMetadataValues>
        <n>BuilderType</n>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_NFI_WO</targetReference></connector>
    </start>
    <status>Active</status>

    <variables>
        <n>varWorkOrderId</n><dataType>String</dataType>
        <isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <n>varNFICount</n><dataType>Number</dataType>
        <isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <n>varNFINotes</n><dataType>String</dataType>
        <isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <n>varWO</n><dataType>SObject</dataType>
        <isCollection>false</isCollection><isInput>false</isInput><isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>

    <recordLookups>
        <n>Get_NFI_WO</n>
        <label>Get Work Order</label>
        <locationX>200</locationX><locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Create_FM_NFI_Task</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field><operator>EqualTo</operator>
            <value><elementReference>varWorkOrderId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <outputReference>varWO</outputReference>
        <queriedFields><field>Id</field></queriedFields>
        <queriedFields><field>FM__c</field></queriedFields>
        <queriedFields><field>FM__r.ManagerId</field></queriedFields>
        <queriedFields><field>Lot_Address__c</field></queriedFields>
        <queriedFields><field>NFI_Count__c</field></queriedFields>
        <queriedFields><field>Need_Further_Info_Notes__c</field></queriedFields>
    </recordLookups>

    <!-- FM TASK -->
    <recordCreates>
        <n>Create_FM_NFI_Task</n>
        <label>Create FM NFI Resolution Task</label>
        <locationX>200</locationX><locationY>200</locationY>
        <connector><targetReference>Check_NFI_Escalation</targetReference></connector>
        <inputAssignments>
            <field>Subject</field>
            <value><stringValue>ACTION REQUIRED — Work Order Returned: Need Further Info</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value><elementReference>varWO.FM__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value><elementReference>varWO.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value><stringValue>High</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value><elementReference>$Flow.CurrentDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value><stringValue>NFI Resolution</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><elementReference>varNFINotes</elementReference></value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordCreates>

    <!-- CHECK IF NFI COUNT > 2 -->
    <decisions>
        <n>Check_NFI_Escalation</n>
        <label>NFI Count Greater Than 2?</label>
        <locationX>200</locationX><locationY>300</locationY>
        <defaultConnectorLabel>NFI Count OK</defaultConnectorLabel>
        <rules>
            <n>NFI_Exceeds_Threshold</n>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWO.NFI_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue><numberValue>2</numberValue></rightValue>
            </conditions>
            <connector><targetReference>Create_COO_Escalation_Task</targetReference></connector>
            <label>NFI &gt; 2 — Escalate to COO</label>
        </rules>
    </decisions>

    <!-- COO ESCALATION TASK -->
    <recordCreates>
        <n>Create_COO_Escalation_Task</n>
        <label>Create COO Escalation Task</label>
        <locationX>400</locationX><locationY>300</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value><stringValue>ESCALATION — Work Order Returned 3+ Times — COO Review Required</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value><elementReference>varWO.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value><stringValue>High</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value><elementReference>$Flow.CurrentDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value><stringValue>COO Escalation</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><stringValue>This Work Order has been returned via Need Further Info more than twice. COO review required before this closeout can proceed. Review the NFI notes history on the Work Order and determine whether FM coaching or a process exception is needed.</stringValue></value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordCreates>

</Flow>
